@import url('./header.css');
@import url('./footer.css');
@import url('./forms.css');
@font-face {
    src: url(../fonts/Raleway-Medium.ttf);
    font-family: Raleway;
}
@font-face {
    src: url(../fonts/SHOWGOTHIC.TTF);
    font-family: Show-gothic;
}
@font-face {
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-family: Open-sans-semibold;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0 auto;
    font-family: Raleway;
    max-width: 100%;
    overflow-x: hidden;
}
main {
    max-width: 100%;
    margin: 65px 7px 30px;
    background:#fff;
    border: solid 0 #fff;
    overflow-x: hidden;
}
.nav-header a {
    margin-top: 13px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 98%;
    margin: 15px auto auto;
}
a {
    text-decoration: none;
}
.banner {
    min-height: 2px;
}
#hero {
    min-height: 100vh;
}
.banner-sec {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}
.banner-img img {
    height: 500px;
    width: 550px;
    margin-bottom: 80px
}
.banner h1 {
    font-family: Raleway;
    text-align: right;
    color: #0b2d72;
    line-height: 1.4em;
    font-weight: 400;
    font-size: 32px;
}
.sidebar {
    height: 60%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    background-color: #4066cb;
    overflow-x: hidden;
    transition: 0.5s;
    font-family: Raleway;
    text-align: center;
}

.menu-close {
    display: none;
}
.fa-bars:before {
    content: '\f0c9';
    font-size: 24px;
}

#openBtn {
    background-color: #fff;
    color: #4066cb;
    padding: 8px 15px;
    border: none;
    display: none;
    border-radius: 3px;
    margin: 10px 0 0 90px;
    cursor: pointer
}

#openBtn:hover, #openBtn:focus {
    background-color: #fff;
    border: none;
    outline: none
}

.align-right {
    text-align: left;
}
.align-center {
    text-align: center;
    color: #0b2d72;
}
.banner-button {
    margin: 50px 0 0 10px;
    font-family: Raleway;
    color: #fff;
    line-height: 1.4em;
    background: #4066cb;
    outline: none;
    box-shadow: 0 7px 20px #5c5959;
    border: none;
    border-radius: 5px;
    width: 30%;
    height: 60px;
    font-size: 23px;
}
.welcome-phrase a {
    color: #0b2d72;
}
.welcome-phrase a:hover {
    text-decoration: none;
}
.banner-button:hover {
    box-shadow: 3px 11px 28px #d2d2d2;
    cursor: pointer;
}
.banner-button:active {
    box-shadow: 3px 11px 28px #d2d2d2;
    transform: translateY(3px);
    border: none;
}
.banner-button:focus {
    outline: none;
}
.welcome-phrase {
    margin-bottom: 150px;
    width: 60%;
    -webkit-animation: pop-in 0.7s ease-out;
    animation: pop-in 0.7s ease-out;
}
.welcome-phrase h1 {
    font-family: Raleway;
    color: #071e55;
    line-height: 22px;
}
.welcome-phrase p {
    font-size: 16px;
    line-height: 30px;
    vertical-align: baseline;
    letter-spacing: normal;
    text-align: justify
}
.fa-credit-card, .fa-building, .fa-fax {
    font-size: 50px;
}
@-webkit-keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4rem);
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.h-22 {
    color: #071E55;
    box-sizing: content-box;
    height: 1px;
    font-weight: bold;
    width: 98%;
    overflow: hidden;
    border-style: solid;
    border-width: 0.5px;
}
.sidebar a {
    padding: 24px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #fbb03b
}

.phrase {
    display: flex;
    margin: 0 0 0 10px;
    flex-direction: column;
}

.main {
    /* padding-top: 40px; */
    font-family: Raleway;
    border-top: 0px solid #ececec;
    margin-bottom: 20px;
    /* margin-top: 10px; */
}
.info-wrapper {
    margin-top: 50px;
    background: linear-gradient(8deg, #EBEEF9 88%, #fff calc(88% + 2px));
    color: #fff;
}
.info-image {
    border: solid 0 #fff;
    border-radius: 6px;
    margin: 20px;
    padding: 7px;
    background: #fff;
    color: #0b2d72;   
}
.info-image h1, .info-image p {
    margin: 7px;
    line-height: 20px;
}
.info-image:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.info-image img {
    height: 50px;
    width: 50px
}
.info-image p {
  text-align: justify
}
.inf {
    display:flex;
    justify-content: space-between;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0
}
.inf:hover {
    box-shadow: none
}
.testimonies {
    background: linear-gradient(185deg, #4065cb49 92%, #fff calc(92% + 2px));
}
.estimate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 650px 550px;
}
.estimate img {
    width: 40%;
    height: 40%
}
.calc-inputs {
    display: flex;
    flex-direction: column;
    width: 110%;
    height: 70%;
    margin: 20px auto;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0);
    border: solid 0 #fff;
}

.calc-inputs h1 {
    font-size: 16px
}
.calc-inputs label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #071e55
}
.inp-11{
    width: 80%;
    margin: 10px auto;
    height: 30px;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    border: solid 0;
    box-shadow: 0 7px 21px #d2d2d2;
}
.inp-11:focus {
    outline: none
}
.calc-inputs button {
    width: 80%;
    margin: 30px auto;
    height: 50px;
    border-radius: 3px;
    background: #4066cb;
    border: solid 0;
    color: #fff
}
.calc-inputs button:hover{
   outline: none;
   background: #fbb03b
}
.result {
    height: 40px;
    width: 80%;
    border: solid 0;
    margin: 0 auto;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 7px 21px #d2d2d2;
}
.reason {
    background: linear-gradient(187deg, #4066cb 90%, #fff calc(90% + 2px));
}
.reason-wrapper {
    display: flex;
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;
}
.reason-img {
    transition: 0.3s;
    width: 40%;;
    height: 50%;
    margin: 0 15px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.reason-img img {
    width: 100%;
    height: 200px;
}
.reason-img h3 {
    text-align: center;
    color: #071E55
}
.reason-img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.name {
    margin: 0 auto;
    font-weight: bolder;
    padding: 0
}

.article {
    width: 58%;
    margin: 0 0 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.article p{
    line-height: 22px;
    text-align: justify
}
.bttn {
    width: 60%;
    border: solid 2px #fbb03b;
    font-size: 22px;
    margin: 0;
}
.container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.main h1,
.container h3 {
    color: #0b2d72;

}
.container-item {
    display: flex;
    flex-direction: column;

}
.test-font{
    margin: 0;
    padding: 10px;
    font-size: 25px;
    color: #0b2d72;
}
.contacts {
    display: flex;
    background: #fff;
    justify-content: space-around;
    margin: 50px 0;
    width: 100%;
}

.contacts-items {
    border: solid 0 white;
    border-radius: 5px;
    color: #0b2d72;
}
.flex-block {
    display: flex;
    justify-content: space-between;
}
.item {
    margin-left: 180px;
}
.reason-img .star {
    display: flex;
    color: gold;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center
}
.fas{
    font-size: 20px;
}
.contacts-items p {
    line-height: 40px;
}

.icon {
    display: none;
}
.socials {
    display: flex;
}
.social-link {
    margin-left: 15px;
    text-decoration: none;
    font-size: 24px
}
.fab:hover, .socials .fas:hover{
    font-size: 28px
}
/* For small screens */
@media screen and (max-width: 755px) {
   .banner-sec {
       display: flex;
        flex-direction: column;
    }
    .banner-img img {
        height: 300px;
        width: 300px
    }
    #openBtn {
        display: inline-block;
    }
    .menu-close {
        background-color: transparent;
        display: block
    }
    .bar {
        width: 1.4rem;
        height: 2px;
        background-color: #4066cb;
        transition: all .2s;
    }
    .top {
        margin-bottom: .3rem;
        transform: none;
        transform-origin: top right;
        padding: 1px
    }
    .calc-inputs label {
        font-size: 11px
    }
    .middle {
        margin-bottom: 4px;
        visibility: visible;
        padding: 1px
    }
    
    .bottom {
        transform: none;
        transform-origin: bottom right;
        padding: 1px
    }
    .sidebar {
        padding-top: 15px;
        margin-top: 58px;
    }
    .sidebar a {
        font-size: 18px;
    }
    .phrase {
        margin: -60px 0 0 10px;
    }
    .banner h1 {
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
    }
    .welcome-phrase {
        padding-top: 38px;
        width: 100%;
    }
    .welcome-phrase h1,
    .main h1 {
        font-size: 20px;
    }
    .welcome-phrase p {
        font-size: 14px;
        color: #071e55;
    }
    .banner-button {
        margin: 2px 0 26px 10px;
        width: 50%;
        height: 48px;
        font-size: 20px;
        box-shadow: 0 10px 22px #5c5959;
    }
    .estimate img {
        width: 54%
    }
    .container {
        width: 50%;
        /* flex-wrap: wrap; */
        flex-direction: column;
        width: 100%;
    }
    .container-item {
        justify-content: center;
        align-items: center
    }
    .container h3,
    .reason-img h3,
    .contacts h2 {
        font-size: 16px;
        margin: 10px;
    }
    .container p,
    .reason p {
        font-size: 8px;
        line-height: 17px;
    }
    .info-wrapper {
        margin: 0;
        background: linear-gradient(8deg, #f8e9ce 97%, #fff calc(97% + 2px));
    }
    .info-image {
        width: 76%;
        flex-direction: column;
    }
    .info-image img {
        height: 40px;
        width: 40px;
        margin: 15px;
    }
    .reason {
        height: 450px;
    }
    .reason-wrapper {
        width: 101%;
    }
    .reason-img {
        height: 250px;
        width: 57%;
    }
    .reason-img img {
        height: 200px;
        width: 90%
    }
    .img-card {
        width: 95%;
        height: 50%;
        margin-top: 10px
    }
    .calc-inputs {
        width: 92%
    }
    .inf {
        margin: 0
    }
    .bttn {
        margin: 0;
        width: 60% !important;
        font-size: 17px;
    }
    .contacts {
        width: 90%;
        flex-direction: column;
        justify-content: space-around;
        justify-content: center;
        align-items: center
    }
    .contacts-items p {
        line-height: 22px;
        font-size: 12px;
    }
    .item {
        margin-left: 50px;
    }
    .form-control {
        width: 100%;
    }
    .form-group textarea {
        width: 106%;
    }
    .form-button {
        width: 108%;
        background: #fbb03b;
    }
}

/* For large screens */
@media screen and (max-width: 940px) {
    .banner-button {
        width: unset
    }
}
@media screen and (min-width: 2000px) {
    body {
        overflow-x: auto;
    }
    .banner-sec {
      background-size: 1200px 800px;
    }
    .wrapper {
        margin-top: 80px;
    }
    .welcome-phrase {
        margin-top: 30px;
    }
    .welcome-phrase h1 {
        font-size: 65px;
    }
    .welcome-phrase p {
        font-size: 40px;
        line-height: 55px;
    }
    .phrase {
        margin-top: 130px;
    }
    .banner-button {
        width: 33%;
        height: 118px;
        font-size: 40px;
        margin-top: 157px;
    }
    .info-wrapper h2 {
        font-size: 55px;
        color: #0b2d72;
    }
    .info-image img {
        height: 200px;
        width: 200px;
    }
    .info-image h3 {
        font-size: 55px;
    }
    .info-image p {
        font-size: 45px;
    }
    .reason-img {
        height: 700px;
        width: 607px;
    }
    .reason h2 {
        font-size: 55px;
    }
    .reason-wrapper p,
    .form-button {
        font-size: 40px;
    }
    .reason-wrapper .banner-button {
        width: 45%;
        height: 118px;
        font-size: 46px;
        margin-top: 133px;
    }
    .contacts h2 {
        font-size: 55px;
    }
    .contacts-items p {
        line-height: 75px;
        font-size: 53px;
    }
    .form-control {
        font-size: 35px;
        height: 65px;
    }
    .form-group textarea {
        height: 300px;
        font-size: 35px;
    }
    .my-footer {
        height: 50px;
        font-size: 40px;
    }
}
